{% extends 'main/base.html' %}

{% block title %}
Добавить нового
{% endblock %}

{% block content %}
    <h1>Добавить нового</h1>
    <form method="post">
        {% csrf_token %}
        <label>Фамилия:<br>
        {{ form.last_name }}<br>
        </label><br>

        <label>Имя:<br>
        {{ form.first_name }}<br>
        </label><br>

        <label>Отчество:<br>
        {{ form.middle_name }}<br>
        </label><br>

        <label>Дата рождения:<br>
        {{ form.date_of_birth }}<br>
        </label><br>

        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}
