{% extends 'main/base.html' %}

{% block title %}
Добавить
{% endblock %}

{% block content %}
    <h1>Добавить</h1>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
        <label for="first_name_id">Имя</label>
        <input type="email" class="form-control" id="first_name_id" aria-describedby="emailHelp" placeholder="Enter email" value={{ first_name }}><br>
        <label for="last_name_id">Фамилия</label>
        <input type="email" class="form-control" id="last_name_id" aria-describedby="emailHelp" placeholder="Enter email" value={{ last_name }}>
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>

    </form>
{% endblock %}
