{% extends 'main/base.html' %}

{% block title %}
Данные о пациенте: {{ patient.last_name }} {{ patient.first_name }}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ patient.last_name }}</h1>
        <p>{{ patient.first_name }}</p>
        <p>{{ patient.middle_name }}</p>

        <a href="{% url 'patient_update' patient.id %}" class="btn btn-info">Изменить</a>
        <a href="{% url 'patient_delete' patient.id %}" class="btn btn-danger">Удалить</a>
    </div>
{% endblock %}
